.CourseHome-header {
  display: flex;
  justify-content: space-between;
}
.Coursehome-dropdown-item {
  text-decoration: none;
}
.Coursehome-dropdown-item:active {
  color: white !important;
}
@media only screen and (max-width: 768px) {
  .CourseHome-notification-header {
    font-size: medium;
  }
  .courseHome-notification-text {
    font-size: smaller;
  }
}
